body {
  margin: 0;
  background-image: url('../public/images/dakdak.png');
  background-size: cover;
  background-position: center;
  font-family: 'Press Start 2P', cursive;
  color: white;
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  border: 2px solid white;
  background: black;
  color: white;
  cursor: pointer;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
